body {
    background-color:darkgray;
    font-family: 'Besley', serif;
}

#container {
    background-color:yellow;
    width: 900px;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: 5px 5px 10px black;

}
 
header {
    padding: 20px 0;
    background-color:navy ;
    border-radius: 20px 20px 0 0;
    
}

header img {
    display: block;
    width: 30%;
    margin: 0 auto;
}

header h1 {
    font-size: 3em;
    text-align: center;
    color:yellow;
    font-family: 'Oswald', sans-serif;
    text-shadow: 2px 2px 2px black;
}

nav {
    background-color:yellow;
    padding-top: 10px;
    text-align: center;
}

nav a {
    display: inline-block;
    background-color:navy;
    height: 50px;
    width: 175px;
    font-size: 2em;
    font-weight: bold;
    line-height: 50px;
    color:yellow
    ;
    text-decoration: none;
    border-radius: 10px 10px 0 0;
   margin: 0 10px;
}

nav a:hover {
    background-color:darkturquoise;
    color:navy;
}

main {
    background-color:navy;
    padding: 20px;
    margin: 0 20px 20px 20px;
}

main h2 {
    text-align: center;
    color:yellow;
    font-size: 2em;
    font-family: 'Oswald', sans-serif;
}

main img {
    display: block;
    width: 50%;
    margin: 20px auto;
    background-color:#4C5973;
    padding: 20px;
    border-radius: 20px;
}

footer {
    background-color:navy;
    padding: 60px 0;
    color:yellow;
    font-size: 2em;
    text-align: center;
    border-radius: 0 0 20px 20px;
}

.active {
    background-color:darkturquoise;
    color:navy;
}

.pro_head {
    text-align: center;
    color:yellow;
    font-size: 2em;
    font-family: 'Oswald', sans-serif;
}

p {
    color:white;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Dancing Script', cursive;
}
